rules_folder: {{ rule_dir }}

run_every:
  minutes: 1

buffer_time:
  minutes: 15

es_host: {{ host_name }}

es_port: {{ port }}

es_username: 
es_password: 

writeback_index: elastalert_status
writeback_alias: elastalert_alerts

alert_time_limit:
  days: 2


